h1 {
  text-align: center;
  font-variant: small-caps;
  font-style: italic;
  font-family: helvetica;
  font-size: 60px;
  text-shadow: 2px 2px 1px grey;

}

p {
  max-width: 500px;
}

body {
  background-image: url("../img/background.png");
}

form {
  margin-top: 60px;
}

.question1-front {
  display: none;
}

.question1-back {
  display: none;
}

.question2-small {
  display: none;
}

.question2-big {
  display: none;
}

.question3-android {
  display: none;
}

.question3-web {
  display: none;
}

.question3-business {
  display: none;
}

.thumbnails {
  text-align: center;
  margin-top: 15px;
}

.thumbnail-text {
  text-align: center;
  font-variant: small-caps;
  margin-top: 20px;
  color: rgb(28, 179, 179);

}
